/* Connection Stylesheet. */

body {
  margin: 0;
}

div {
  position: absolute;
  text-align: center;
}

@media (orientation:portrait) and (min-aspect-ratio: 2/3)  {
  #container {
    width: 66.6666666667vh;
    height: 100vh;
    top: 0;
    left:calc(50vw - 33.3333333333vh);
  }
  html {font-size: 2.5vh;}
}

@media (orientation:portrait) and (max-aspect-ratio: 2/3)  {
  #container {
    width: 100vw;
    height: 150vw;
    top: 0;
    left:0;
  }
  html {font-size: 3.75vw;}
}

@media (orientation:landscape) and (min-aspect-ratio: 3/2) {
  #container {
    width: 150vh;
    height: 100vh;
    top:0;
    left: calc(50vw - 75vh);
  }
  html {font-size: 3.75vh;}
}

@media (orientation:landscape) and (max-aspect-ratio: 3/2) {
  #container {
    width: 100vw;
    height: 66.6666666667vw;
    top: 0;
    left:0;
  }
  html {font-size: 2.5vw;}
}

@media (orientation:portrait) {
  #nav {
    left:0%;
    top:0%;
    width:100%;
    height:33.3333333333%;
  }
  #board {
    left:0;
    top: 33.3333333333%;
    width: 100%;
    height: 66.6666666667%;
  }
  #title {left:0%;top:0%; width:50%; height:20%;}
  #description {left:51.25%;top:0%; width:47.25%; height:60%;}
  #button_div {left:0%; top:20%; width:50%; height:80%;}
  #player_div {left:50%; top:60%; width:50%; height:40%;}
}

@media (orientation:landscape) {
  #nav {
    left: 0%;
    top:0%;
    width: 33.3333333333%;
    height:100%;
  }
  #board {
    left:33.3333333333%;
    top:0%;
    width: 66.6666666667%;
    height: 100%;
  }
  #title {left:0%; top:0%; width:100%; height:10%;}
  #description {left:2.5%;top:10%; width:95%; height:30%;}
  #button_div {left:0%; top:40%; width:100%; height:40%;}
  #player_div {left:0%; top:80%; width:100%; height:20%;}
}

#board {
  background-color: #555555;
}

#lang     {top:0%;}
#about    {top:25%;}
#new      {top:50%;}
#back     {top:75%;}
#player_1 {top:0%;}
#player_2 {top:50%;}

.button {
  position: absolute;
  width:75%;
  left:0;
  right:0;
  padding:0;
  margin: auto;
  height: 1.5em;
  line-height: 1.5em;
  font-weight: bold;
  border-style: solid;
  border-width: 0.2em;
  border-color: #8685a2;
  background-color: #a6a5c9;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 0.5em;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.active {
  opacity: 1;
}

.inactive {
  opacity: 0.50;
  border-color: #ffffff;
}

#description {
  text-align: left;
}

#player_1 {
  background-image:url(red.svg);
  background-size: 1.5em 1.5em;
  background-repeat: no-repeat;
  background-position:left center;
}
#player_2 {
  background-image:url(white.svg);
  background-size: 1.5em 1.5em;
  background-repeat: no-repeat;
  background-position:left center;
}


html {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 1.15em;
  font-weight: bold;
  margin: 0;
}

#solution_header {
  left:0;
  top: 85.714285714%;
  width:100%;
  height: 1em;
  line-height: 1em;
}

#solution {
  left:0;
  top: 90.476190476%;
  height:9.523809524%;
  width:100%;
}

#hide_solution_div {
  left:0;
  top: 90.476190476%;
  height:9.523809524%;
  width:100%;
  z-index: 50;
  background-color: white;
}

#about_div {
  top: 0;
  left: 0;
  padding: 2.5%;
  height: 100%;
  display: none;
  background-color: white;
  opacity: 0.95;
  z-index: 100;
  text-align: left;
  overflow-y:auto;
}

.board {
  height:calc(100% / 11);
  width:calc(100% / 11);
  z-index:0;
}

.board_pin_red {
  background-image:url(pin_red.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height:calc(100% / 11);
  width:calc(100% / 11);
  z-index:1;
}

.board_pin_white {
  background-image:url(pin_white.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height:calc(100% / 11);
  width:calc(100% / 11);
  z-index:1;
}

.solution {
  width: calc(100% / 7);
  height: 2em;
  line-height: 2em;
  background-image:none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.win {
  background-image:url(win.png);
  width:calc(100% / 7);
  height:calc(100% / 7);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index:3;
}

.player1 {
  background-image:url(red.svg);
  width:calc(100% / 11);
  height:calc(100% / 11);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index:2;
}
.player2 {
  background-image:url(white.svg);
  width:calc(100% / 11);
  height:calc(100% / 11);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index:2;
}

.player1h {
  background-image:url(red_h.svg);
  width:calc(100% / 11);
  height:calc(100% / 11);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index:2;
}
.player1v {
  background-image:url(red_v.svg);
  width:calc(100% / 11);
  height:calc(100% / 11);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index:2;
}
.player2h {
  background-image:url(white_h.svg);
  width:calc(100% / 11);
  height:calc(100% / 11);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index:2;
}
.player2v {
  background-image:url(white_v.svg);
  width:calc(100% / 11);
  height:calc(100% / 11);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index:2;
}

